[Desktop Entry]
Version=1.0
Type=Application
Name=TheLazyScript
Comment=
Exec=/usr/bin/lscript/l
Icon=/root/lscript/iconlscript.png
Path=
Terminal=true
StartupNotify=false
